header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
}

header .title {
  color: #3c6ce8;
  font-size: 3em;
  font-weight: bold;

  padding: 0.48em 0.73em;
}
