.input-search {
  display: flex;
  align-items: center;

  position: relative;

  border: 1px solid #3c6ce8;
  border-radius: 10px;
  
  padding: .48em;
  padding-left: .68em;

  background-color: #f9f9f9;
  box-shadow: 1px 1px 4px 2px #d0dbf5;
}

.input-search input {
  width: 100%;

  flex-grow: 1;

  background-color: #f9f9f9;

  font-size: 1.2em;
}

.input-search .icon {
  object-fit: cover;
  scale: 0.6;
  cursor: pointer;
}

/* CUSTOM RADIO */

input[type="radio"] {
  position: relative;
  appearance: none;
  background-color: #e5edff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #3c6ce8;
  border-radius: 20%;
}

input[type="radio"]::before {
  content: "";
  top: 0.1em;
  left: 0.1em;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 25%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #3c6ce8;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
