.lists {
  display: flex;
  justify-content: space-around;
}

.statistics,
.attempt {
  width: 45%;
  padding: 1.24em;
}

.attemp__title,
.statistics__title {
    padding-bottom: 1.12em;
}

.statistics__list,
.attempt__list {
  width: 100%;
  max-height: 15em;

  padding: 1.24em;
}

.attempt__list {
  overflow-y: scroll;
}

.attempt {
  border-radius: 15px;
  background-color: #e5edff;
  border: 1px solid #3c6ce8;
  box-shadow: 1px 1px 4px 2px #d0dbf5;
}
