* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  list-style: none;
  scroll-behavior: smooth;

  scrollbar-color: #4d88ff #e5edff;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  transition-duration: 0.3s;
}
