@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .btns {
    flex-direction: column;
    padding: 0;
    padding-top: 0.48em;
  }

  .btn {
    width: 100%;
    margin-bottom: 1%;
  }

  .lists {
    flex-direction: column;
  }

  .lists div {
    width: 100%;
  }

  .quiz_options {
    width: 100%;
  }

  .input-search,
  .btns {
    width: 100%;
    margin: 0;
  }

  .footer_lists {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_lists ul {
    width: 90%;
    padding: 1.24em;
  }
}
